*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url("fondo.png");
}

.formulario{
    width: 400px;
    margin: auto;
    background: #24303c;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 7px 13px 37px #000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.controles{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid #1f53c5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

h2{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 250%;
}

.formulario .button{
    border: none;
    font-size: 16px;
    margin: 16px 0px;
    width: 100% ;
    padding: 10px;
    color: #f5f6f7;
    background-color: #1f53c5;
}





