* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("fondo.png");
}
.formulario {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.formulario h2 {
    font-size: 22px;
    margin-bottom: 20px;
}
.controles {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}
.formulario .boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
p {
    width: 500px;
    padding: 40px;
    margin: auto;
}
